/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
}

header .addTaskWrapper .addTaskBtn {
    background: none;
    border: none;
    color: var(--white-clr-main);
    font-size: calc(0.5rem + var(--font-size-general));
    font-weight: 700;
    cursor: pointer;
    transition: text-shadow var(--transition-fast);
}

header .addTaskWrapper {
    position: relative;
}

header .sortByWrapper {
    display: flex;
    align-items: center;
    gap: var(--gap-index);
    cursor: pointer;
    transition: all var(--transition-fast);
}

header .sortByWrapper div:has(span + h2) {
    display: flex;
    align-items: center;
    gap: var(--gap-index);
}

header .sortByWrapper h2 {
    transition: all var(--transition-fast);

    margin-right: var(--margin-index);
}

header .sortByWrapper .radio {
    display: none;
    transform: scaleX(0);
    transform-origin: right;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 0 0 0.3rem var(--white-clr-main);
    transition: all var(--transition-fast);
}

header .sortByWrapper .radio.show {
    display: inline-flex;
    transform: scaleX(1);
}

header .sortByWrapper .radio .radioInput {
    display: none;
}

header .sortByWrapper .radio .radioLabel {
    padding: calc(-1rem + var(--padding-index)) calc(var(--padding-index));
    cursor: pointer;
    transition: all var(--transition-fast);

    padding: var(--padding-index) var(--padding-index);
}

header .sortByWrapper .radio .radioLabel:not(:last-of-type) {
    border-right: 0.1rem solid var(--white-clr-main-opacity-low);
}

/* header transitions */

header .addTaskWrapper:hover .addTaskBtn {
    text-shadow: 0rem 0rem 0.5rem var(--shadow-color-main);
}

header .sortByWrapper div:has(span + h2):hover {
    text-shadow: 0rem 0rem 0.5rem var(--shadow-color-main);
}

header .sortByWrapper .radio .radioLabel:hover {
    background-color: var(--white-clr-main-opacity-low);
}

header .sortByWrapper .radio .radioInput:checked + .radioLabel {
    background-color: var(--white-clr-main);
    color: var(--black-clr-main);
}

/* Add task form */

.addTaskSection {
    display: none;
    transform: scaleY(0);
    transform-origin: top;
    border-bottom: 1px solid var(--white-clr-main);;
    transition: transform var(--transition-fast) ease;
}

.addTaskSection.show {
    display: block;
    transform: scaleY(1);
}

.addTaskFormWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    row-gap: var(--gap-index);
    column-gap: var(--gap-index);
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);

    margin-bottom: 1vw;

    text-align: center;
}

.addTaskFormWrapper button,
.addTaskFormWrapper input,
.addTaskFormWrapper select {
    padding: calc(-0.4rem + var(--padding-index)) calc(var(--padding-index));
    max-width: 14.5vw;
    font-size: calc(-0.2rem + var(--font-size-general));
    background-color: transparent;
    border: 0.1rem solid var(--white-clr-main);
    border-radius: 0.5rem;
    color: var(--white-clr-main);

    transition: all var(--transition-fast);
}

.addTaskFormWrapper select option {
    background-color: var(--white-clr-main);
    color: var(--black-clr-main);
}

.addTaskFormWrapper input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(90%) sepia(25%) saturate(400%) hue-rotate(245deg) brightness(95%) contrast(85%);
}

/* Add task form transitions */

.addTaskFormWrapper input:focus,
.addTaskFormWrapper select:focus {
    box-shadow: 0rem 0rem 0.5rem var(--shadow-color-main);
}

.addTaskFormWrapper button:hover {
    box-shadow: 0rem 0rem 0.5rem var(--shadow-color-main);
}

.addTaskFormWrapper button:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.addTaskFormWrapper select option:hover {
    background-color: black;
}


/* todo:

add button add animation 

/*