:root {
    --padding-index: 1.5vw;
    --margin-index: 2vw;
    --gap-index: 0.7vw;
    --font-size-general: calc(1.3vw);
    --font-size-mobile: calc(1.8vw);

    --white-clr-main: rgb(242, 225, 252);
    --white-clr-main-opacity-low: rgba(232, 200, 249, 0.2);
    --black-clr-main: #2e073f;
    --shadow-color-main: rgb(162, 234, 237);

    --background-color-first: #20052b;
    --background-color-second: rgb(98, 22, 139);

    --transition-fast: 0.15s;
    --transition-slow: 0.5s;
}
