:root {
    --padding-index: 1.5vw;
    --margin-index: 2vw;
    --font-size-general: calc(0.2rem + 1.3vw);

    --white-clr-main: rgb(232, 200, 249);

    --background-color-first: #2e073f;
    --background-color-second: rgb(76, 18, 108);
}