:root {
    --padding-index: 1.5vw;
    --margin-index: 2vw;
    --gap-index: 0.7vw;
    --font-size-general: calc(0.2rem + 1.3vw);

    --white-clr-main: rgb(232, 200, 249);
    --white-clr-main-opacity-low: rgba(232, 200, 249, 0.2);
    --black-clr-main: #2e073f;
    --shadow-color-main: rgb(162, 234, 237);

    --background-color-first: #2e073f;
    --background-color-second: rgb(101, 24, 142);

    --transition-fast: 0.15s;
    --transition-slow: 0.5s;
}