h1 {
    text-align: center;
}

main {
    margin-top: calc(0.1rem + var(--margin-index));
    display: inline-block;
    border: 1px solid var(--white-clr-main);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
}

header .addTaskWrapper .addTaskBtn {
    background: none;
    border: none;
    color: var(--white-clr-main);
    font-size: calc(0.5rem + var(--font-size-general));
    font-weight: 700;
    cursor: pointer;
    transition: text-shadow var(--transition-fast);
}

header .addTaskWrapper {
    position: relative;
}

header .sortByWrapper {
    display: flex;
    align-items: center;
    gap: var(--gap-index);
    cursor: pointer;
    transition: text-shadow var(--transition-fast);
}

/* header hover */

header .addTaskWrapper:hover .addTaskBtn {
    text-shadow: 0rem 0rem 0.5rem var(--shadow-color-main);
}

header .sortByWrapper:hover span:has(+ h2),
header .sortByWrapper:hover span + h2 {
    text-shadow: 0rem 0rem 0.5rem var(--shadow-color-main);
}

